@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:
  linear-gradient(
    135deg,
    #0f172a,
    #1e3a8a,
    #7c3aed
  );

  min-height:100vh;
}

a{
  text-decoration:none;
}

input,
button{
  font-family:'Poppins',sans-serif;
}