* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background: #0f172a;
  color: white;
}

.auth-container {
  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;
}

form {
  width: 350px;

  display: flex;

  flex-direction: column;

  gap: 15px;

  padding: 30px;

  background: #1e293b;

  border-radius: 12px;
}

input,
button {
  padding: 12px;

  border-radius: 8px;

  border: none;
}

button {
  background: #3b82f6;

  color: white;

  cursor: pointer;
}